body{
    background-color : pink;
    color : white;
    font-size: 100px;
    line-height: 200px;
    letter-spacing: 19px;
    font-family: "Futura",helvetica,impact, arial, sans-serif;
    
}

li {
    font-size: 18px;
    letter-spacing: 10px;
    line-height: 100px;
}
p{
    color: blue;
    background-color: yellow;
    overflow: hidden;
    text-decoration: underline;
    
}


.special {
    color: purple;
    width: 300px;
    
    
}


.ontop {
    position: fixed;
    right:0;
    margin:0;
    bottom:0;
    padding: 60px;
    border:10px solid red;
    
}