body{
    background-color : pink;
    color : white;
    font-size: 72px;
    line-height: 280px;
    letter-spacing: 100px;
    padding: 70px 0;
    border: 50px solid #36b3ac;
    text-align: center;
    font-family: "Futura",helvetica,impact, arial, sans-serif;
    
}

li {
    font-size: 18px;
    letter-spacing: 10px;
    line-height: 100px;
}
p{
    color: #36b3ac;
    letter-spacing: 5px;
    overflow: hidden;
    font-size: 48px;
    line-height: 80px;
    width: inherit;
    font: helvetica;
    
}


.special {
     font-size: 24px;
    letter-spacing: 1px;
    line-height: 50px;
    
    
    
    
}


.ontop {
    position: fixed;
    right:0;
    margin:0;
    bottom:0;
    padding: 60px;
    border:10px solid red;
    
}