body{
    background-color : #bd8cbf;
    color : white;
    text-align: center;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: -5px;
    padding:100px;
    font-family: "Futura",helvetica,impact, arial, sans-serif;
    
}

p{
    color: #36b3ac;
    background-color: pink;
    overflow: hidden;
    text-align: center;
}

a{
    
}


.special {
    color: yellow;
    text-decoration: underline;
    width: 300px;
    text-align:center;
    font-size: 12px;
    letter-spacing: 50px;
    
}



.special2 {
    color: yellow;
    text-decoration: underline;
    width: 300px;
    text-align: center;
    font-size: 48px;
    letter-spacing: 50px;
    
}



.special3 {
    color: yellow;
    text-decoration: underline;
    width: 300px;
    text-align: right;
    font-size: 48px;
    letter-spacing: 50px;
    
}




.ontop {
    position: fixed;
    right:0;
    margin:0;
    bottom:0;
    padding: 60px;
    border:10px dashed yellow;
    
}

.onleft {
    position: fixed;
    left: 0;
    margin:0;
    bottom:0;
    padding: 60px;
    border:10px dashed yellow;
    
}

.i {
    position: fixed;
    left: 350;
    margin:0;
    bottom:0;
    padding: 60px;
    border:10px dashed yellow;
    
}


.v {
    position: fixed;
    left: 650;
    margin:0;
    bottom:0;
    padding: 60px;
    border:10px dashed yellow;
    
}


.i2 {
    position: fixed;
    left: 1020;
    margin:0;
    bottom:0;
    padding: 60px;
    border:10px dashed yellow;
    
}


.a {
    position: fixed;
    right: 380;
    margin:0;
    bottom:0;
    padding: 60px;
    border:10px dashed yellow;
    
}