a {
  width: 300px;
  height: 300px;
  background-color: blue;
  display: inline-block;
  
}



body{
    background-color : #fed240;
    color : white;
    text-align: center;
    font-size: 100px;
    line-height: 70px;
    letter-spacing: 10px;
    padding:100px;
    padding-bottom: 200;
    font-family: "willow",helvetica,impact, arial, sans-serif;
    padding-left: 0px;
    padding-right: 0px;
    
}




.mybutton{
    background-image: url(lego.png);
    background-color: #ffd329;
    width: 200px;
    height: 200px;
    display: inline-block;
   
}




.mybutton:hover{
    background-position: -200px 0;
}

.mybutton:active{
    background-position: -400px 0;

}


.mybutton2{
    background-image: url(lego2.png);
    background-color: #f0bf94;
    width: 200px;
    height: 200px;
    display: block;
    display: inline-block;
   
}




.mybutton2:hover{
    background-position: -200px 0;
}

.mybutton2:active{
    background-position: -400px 0;

}



.mybutton3{
    background-image: url(lego3.png);
    background-color: white;
    width: 200px;
    height: 200px;
    display: inline-block;
   
}




.mybutton3:hover{
    background-position: -200px 0;
}

.mybutton3:active{
    background-position: -400px 0;

}


.mybutton4{
    background-image: url(lego4.png);
    background-color: white;
    width: 200px;
    height: 200px;
    display: inline-block;
   
}




.mybutton4:hover{
    background-position: -200px 0;
}

.mybutton4:active{
    background-position: -400px 0;

}

.mybutton5{
    background-image: url(lego5.png);
    background-color: white;
    width: 200px;
    height: 200px;
    display: inline-block;
   
}




.mybutton5:hover{
    background-position: -200px 0;
}

.mybutton5:active{
    background-position: -400px 0;

}


.mybutton6{
    background-image: url(lego6.png);
    background-color: white;
    width: 200px;
    height: 200px;
    display: inline-block;
   
}




.mybutton6:hover{
    background-position: -200px 0;
}

.mybutton6:active{
    background-position: -400px 0;

}


.mybutton7{
    background-image: url(lego7.png);
    background-color: white;
    width: 200px;
    height: 200px;
    display: inline-block;
}




.mybutton7:hover{
    background-position: -200px 0;
}

.mybutton7:active{
    background-position: -400px 0;

}

.mybutton8{
    background-image: url(lego8.png);
    background-color: white;
    width: 200px;
    height: 200px;
    display: inline-block;
   
}




.mybutton8:hover{
    background-position: -200px 0;
}

.mybutton8:active{
    background-position: -400px 0;

}


.mybutton9{
    background-image: url(lego9.png);
    background-color: #f0bf94;
    width: 200px;
    height: 200px;
    display: inline-block;
   
}




.mybutton9:hover{
    background-position: -200px 0;
}

.mybutton9:active{
    background-position: -400px 0;

}



body{
   margin:0;
   margin-left: 0;
}


.blue {
    background-color:d8110a;
    width: 40%;
    height: 400px;
}






.fullwidth{
    background-color: black;
    margin-bottom: 100px;
    height: 40px;
    width: 70%;
    margin:0 auto;
}




.box{
    background:url(legopic2.png) no-repeat;
    position: fixed;
    bottom: 40px;
    right: 20px;
    font-size: 20%;
    text-align: center;
    color: white;
    line-height:230px;
    width: 200px;
    height: 200px;
    position: fixed;
    
}


.box2{
    background:url(legopic.png) center no-repeat;
    position: fixed;
    bottom: 40px;
    left: 20px;
    font-size: 20%;
    text-align: center;
    color: white;
    line-height:230px;
    width: 200px;
    height: 200px;
    position: fixed;
    
}

.box3{
    background:url(brick.png) center no-repeat;
    position: fixed;
    bottom: 40px;
    left: 20px;
    font-size: 20%;
    text-align: center;
    color: white;
    line-height:135px;
    width: 200px;
    height: 200px;
    position: fixed;
    
}


.box4{
    background:url(brick2.png) center no-repeat;
    position: fixed;
    bottom: 40px;
    left: 20px;
    font-size: 20%;
    text-align: center;
    color: white;
    line-height:450px;
    width: 200px;
    height: 400px;
    position: fixed;
    
}

.box5{
    background:url(brick3.png) center no-repeat;
    position: fixed;
    bottom: 40px;
    left: 20px;
    font-size: 20%;
    text-align: center;
    color: white;
    line-height:350px;
    width: 200px;
    height: 400px;
    position: fixed;
    
}


.box6{
    background:url(brick4.png) center no-repeat;
    position: fixed;
    bottom: 40px;
    left: 20px;
    font-size: 20%;
    text-align: center;
    color: white;
    line-height:250px;
    width: 200px;
    height: 400px;
    position: fixed;
    
}

.box7{
    background:url(brick5.png) center no-repeat;
    position: fixed;
    bottom: 40px;
    left: 20px;
    font-size: 20%;
    text-align: center;
    color: white;
    line-height:150px;
    width: 200px;
    height: 400px;
    position: fixed;
    
}

.box8{
    background:url(brick6.png) center no-repeat;
    position: fixed;
    bottom: 40px;
    left: 20px;
    font-size: 20%;
    text-align: center;
    color: white;
    line-height:250px;
    width: 200px;
    height: 500px;
    position: fixed;
    
}


.box9{
    background:url(brick7.png) center no-repeat;
    position: fixed;
    bottom: 40px;
    left: 20px;
    font-size: 20%;
    text-align: center;
    color: white;
    line-height:160px;
    width: 200px;
    height: 500px;
    position: fixed;
    
}
