
.dot{
    width:100px;
    height:100px;
    background-color:red;
    display: inline-block;
    margin:20px;
    
}

.whatever{
    background-color: lime;
    width:200px;
    height:200px;
    border:10px solid red;
    border-radius: 100%;
}

